<!doctype html>
<html lang="en" class="h-100">
  <head>
    {% block title %}<title>Local Library</title>{% endblock %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta17/dist/js/tabler.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta17/dist/css/tabler.min.css">
    

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta17/dist/css/tabler-flags.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta17/dist/css/tabler-payments.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta17/dist/css/tabler-vendors.min.css">

    <!-- Add additional CSS in static file -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  </head>
  <body class="h-100 ">
    <div class="container-fluid h-100">
      <div class="row h-100">
        <div class="col-sm-2  h-100 fixed-top bg-dark ">
          {% block sidebar %}
            <ul class=" sidebar-nav fs-4 h-100 ">
              {% if user.is_authenticated and user.get_username %}
              <li class="text-white fs-4">
                <div class="d-flex gap-2 align-items-center ">
                  <span class="avatar">{{user.first_name}}</span>
                  <span>
                    User: {{ user.get_username }}
                  </span>
                </div>
               {% endif %}
              
              </li>
              <li><a class="link-side" href="{% url 'index' %}">Home</a></li>
              <li><a class="link-side" href="{% url 'books' %}">All books</a></li>
              <li><a class="link-side" href="{% url 'authors' %}">Authors</a></li>

              {% if user.is_authenticated %}
                {% if perms.catalog.i_am_librarian %}
                  <li><a class="link-side text-center" href="{% url 'all-borrowed' %}">All Books Borrowed </a></li>
                {% endif %}
              <li><a class="link-side" href="{% url 'my-borrowed' %}">My Borrowed</a></li>

              <form method="post" action="{% url 'logout' %}?next={{ request.path }}">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger mt-2">Logout</button>
              </form>
              {% else %}
                
                <li><a class="btn btn-success mt-2 " href="{% url 'login'%}?next={{request.path}}">Login</a></li>
              {% endif %}
            </ul>
  

            
          {% endblock %}
        </div>

        <div class="col-sm-10 offset-2 bg-primary-lt">
          {% block content %}{% endblock %}

          {% block pagination %}
            {% if is_paginated %}
              <div class="pagination d-flex justify-content-center">
                <span class="page-links">
                  {% if page_obj.has_previous %}
                    <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                  {% endif %}
                  <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                  </span>
                  {% if page_obj.has_next %}
                    <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
                  {% endif %}
                </span>
              </div>
            {% endif %}
          {% endblock %}
        </div>
        
      </div>
    </div>

    
  </body>
</html>
