<!doctype html>
<html lang="en" class="h-100">
  <head>
    {% load static %}
    {% block title %}<title>Local Library</title>{% endblock %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta17/dist/js/tabler.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta17/dist/css/tabler.min.css">
    
    <link rel="shortcut icon" type="image/jpg" href="{% static 'img/favicon.png' %}"/>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta17/dist/css/tabler-flags.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta17/dist/css/tabler-payments.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta17/dist/css/tabler-vendors.min.css">

    <!-- Add additional CSS in static file -->
    
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  </head>
  <body class="h-100 ">
    <div class="container-fluid h-100">
      <div class="row h-100">
        <div class="col-sm-2  h-100 fixed-top bg-dark ">
          {% block sidebar %}
            <ul class=" sidebar-nav fs-4 h-100 ">
              {% if user.is_authenticated and user.get_username %}
              <li class="text-white fs-4">
                <div class="d-flex gap-2 align-items-center ">
                  <span class="avatar">{{ user.first_name }}</span>
                  <span>
                    User: {{ user.get_username }}
                  </span>
                </div>
               {% endif %}
              
              </li>
              <li><a class="link-side" href="{% url 'index' %}">Home</a></li>
              <li><a class="link-side" href="{% url 'books' %}">All books</a></li>
              <li><a class="link-side" href="{% url 'authors' %}">Authors</a></li>

              {% if user.is_authenticated %}
                {% if perms.catalog.i_am_librarian %}
                  <li><a class="link-side text-center" href="{% url 'all-borrowed' %}">All Books Borrowed </a></li>
                {% endif %}
              <li><a class="link-side" href="{% url 'my-borrowed' %}">My Borrowed</a></li>

              <form method="post" action="{% url 'logout' %}?next={{ request.path }}">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger mt-2">Logout</button>
              </form>
              {% else %}
                
                <li><a class="btn btn-success mt-2 " href="{% url 'login'%}?next={{request.path}}">Login</a></li>
              {% endif %}
            </ul>
  

            
          {% endblock %}
        </div>

        <div class="col-sm-10 offset-2 bg-primary-lt">
          {% block content %}{% endblock %}

          {% block pagination %}
            {% if is_paginated %}
              <div class="pagination d-flex justify-content-center">
                <span class="page-links">

                  <span class="page-current">
                    
                    <div class="d-flex gap-2 align-items-center">
                      {% if page_obj.has_previous %}
                        <a class="svg-back" href="{{ request.path }}?page={{ page_obj.previous_page_number }}">
                          <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="#000000"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-left"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M15 6l-6 6l6 6" /></svg>
                        </a>
                      {% endif %}


                      {% load custom_tags %}  
                      {% for num_page in page_obj.paginator.num_pages|get_range %}
                        {% if page_obj.paginator.num_pages < 7 %}

                          <a href="{{request.path}}?page={{num_page}}" class="field-input-page d-flex justify-content-center align-items-center {% if num_page == page_obj.number %}bg-dark{% else %} bg-gray-900{% endif %}" href="">
                            <div >

                              {{num_page}}
                            </div>
                          </a>
                        {% else %} 
                          {% if num_page < 3%}

                            <a href="{{request.path}}?page={{num_page}}" class="field-input-page d-flex justify-content-center align-items-center {% if num_page == page_obj.number %}bg-dark{% else %} bg-gray-900{% endif %}" href="">
                              <div >
                                {{num_page}}
                                
                              </div>
                            </a>
                            {% if num_page == 2 %}
                              <p class="fs-1">...</p>
                            {% endif %}
                          {% else %}
                            {% rate_next_pages num_page page_obj.number page_obj.paginator.num_pages as beetwen_page %}
                            {% if beetwen_page  %}
                              
                              <a href="{{request.path}}?page={{num_page}}" class="field-input-page d-flex justify-content-center align-items-center {% if num_page == page_obj.number %}bg-dark{% else %} bg-gray-900{% endif %}" href="">
                                <div >
                                  {{num_page}} 
                                </div>
                              </a>
                            {% else %}
                            {% rate_first_last_pages page_obj.paginator.num_pages num_page page_obj.number as first_last_pages %}
                            {% if first_last_pages%}
                              <p class="fs-1">...</p>
                            {% endif %}
                              {% rate_last_pages page_obj.paginator.num_pages page_obj.number num_page as last_pages %}
                              {% if last_pages  %}

                                  <a href="{{request.path}}?page={{num_page}}" class="field-input-page d-flex justify-content-center align-items-center {% if num_page == page_obj.number %}bg-dark{% else %} bg-gray-900{% endif %}" href="">
                                  <div >
                                    {{num_page}} 
                                  </div>
                                </a>
                              {% endif %}


                            {% endif %}

                          {% endif %} 
                        {% endif %}


                      {% endfor %}

                      {% if page_obj.has_next %}
                        <a class="svg-next" href="{{ request.path }}?page={{ page_obj.next_page_number }}">
                          <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="#000000"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-right"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 6l6 6l-6 6" /></svg> 
                        </a>
                      {% endif %}

                    </div>

                  </span>

                </span>
              </div>
            {% endif %}
          {% endblock %}
        </div>
        
      </div>
    </div>

    
  </body>
</html>
