{% extends "base_generic.html" %}

{% block content %}
  <h1>Title: {{ author.first_name }} {{ author.last_name }}</h1>
  <p class="fs-6 lead">{{author.date_of_birth}}</p>

  <div style="margin-left:20px;margin-top:20px">
    <div class="ps-3 pt-1">
        <h3><strong>Books</strong></h3>
        {% for copy in author.book_set.all %}
        <hr>
        <a href="{{copy.get_absolute_url}}">{{copy.title}}</a>
        <p>{{copy.summary}}</p>

        {% endfor %}
        {% if not author.book_set.all%}
          there are no books
        {% endif%}
    </div>

  </div>
{% endblock %}
