{% extends "base_generic.html" %}

{% block content %}
  <h1 class="display-3">Title: {{ book.title }}</h1>

  <p><strong>Author:</strong> <a href="{% url 'author-detail' book.author.id%}">{{ book.author }}</a></p> <!-- author detail link not yet defined -->
  <p class="lead">{{book.summary}}</p>
  <div style="margin-left:20px;margin-top:20px">
    <h4>Copies</h4>

    {% for copy in book.instances.all %}
      <hr>
      <p class="{% if copy.status == 'a' %}text-success{% elif copy.status == 'm' %}text-danger{% else %}text-warning{% endif %}"><strong>{{ copy.get_status_display }}</strong></p>
      {% if copy.status != 'a' %}
        <p><strong>Due to be returned by {{copy.borrower.username}} :</strong> {{copy.due_back}}</p>
      {% endif %}
      <p><strong>Imprint:</strong> {{copy.imprint}}</p>
      <p class="text-muted"><strong>Id:</strong> {{copy.id}}</p>
    {% endfor %}
  </div>
{% endblock %}
